@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
html {
  font-size: 62.5%;
  font-family: "Epilogue", sans-serif;
}

body {
  font-size: 2.5rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a, a:focus, a:visited {
  text-decoration: none;
  color: inherit;
}

.main--logos img, img {
  width: 100%;
  height: 100%;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
@media (min-width: 1440px) {
  header {
    justify-content: flex-start;
    gap: 15rem;
    padding: 3rem 6rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5rem;
}
@media (min-width: 1440px) {
  main {
    flex-direction: row-reverse;
    padding: 20rem;
    text-align: left;
    gap: 25rem;
  }
}

header .logo img {
  width: 12rem;
  object-fit: contain;
}
header .nav {
  position: relative;
  max-width: 16vw;
}
@media (min-width: 1440px) {
  header .nav {
    max-width: unset;
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
}
header .nav .toggle--control {
  position: relative;
  z-index: 20;
}
@media (min-width: 1440px) {
  header .nav .toggle--control {
    display: none;
  }
}
header .nav .toggle--control .toggle--checkbox {
  display: none;
}
header .nav .toggle--control .toggle--checkbox:checked ~ label .toggle--icon {
  height: 0;
}
header .nav .toggle--control .toggle--checkbox:checked ~ label .toggle--icon::after {
  top: -3px;
  transform: rotate(45deg);
}
header .nav .toggle--control .toggle--checkbox:checked ~ label .toggle--icon::before {
  bottom: 0;
  transform: rotate(-45deg);
}
header .nav .toggle--control .toggle--label {
  position: absolute;
  right: 0;
  top: -5px;
}
header .nav .toggle--control .toggle--label .toggle--icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 3px;
  background: #000;
  transition: all 0.2s ease-in;
}
header .nav .toggle--control .toggle--label .toggle--icon::after, header .nav .toggle--control .toggle--label .toggle--icon::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 3px;
  background: #000;
  transition: all 0.2s ease-in;
}
header .nav .toggle--control .toggle--label .toggle--icon::after {
  top: 10px;
}
header .nav .toggle--control .toggle--label .toggle--icon::before {
  bottom: 10px;
}
header .nav .nav__list-container {
  background-color: white;
  color: dimgray;
  transition: all 0.2s ease-in;
  position: absolute;
  left: 200px;
  padding: 4rem;
  display: none;
  min-height: 100vh;
}
@media (min-width: 1440px) {
  header .nav .nav__list-container {
    position: static;
  }
}
@media (min-width: 1440px) {
  header .nav .nav__list-container {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  header .nav .nav__list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
  }
}
@media (min-width: 1440px) {
  header .nav .nav__list-container {
    min-height: unset;
  }
}
header .nav .nav__list-container.active {
  left: -230px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
header .nav .nav__list-container .nav__item--actions .nav__features .nav__feature-list {
  margin-left: 2rem;
  transition: all 0.2s ease-in;
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
header .nav .nav__list-container .nav__item--actions .nav__features.active .nav__feature-list {
  max-height: 200px;
  margin-top: 3rem;
}
header .nav .nav__list-container .nav__item--actions .nav__features.active .arrow {
  transform: rotate(180deg);
}
header .nav .nav__list-container .nav__item--actions .nav__features .nav__feature-list li {
  display: flex;
  align-items: center;
}
header .nav .nav__list-container .nav__item--actions .nav__features .nav__feature-list li div {
  height: 100%;
}
header .nav .nav__list-container .nav__item--actions .nav__features .nav__feature-list li img {
  width: 2.5rem;
  margin-right: 1rem;
}
header .nav .nav__list-container .nav__item--actions .nav__company .nav__company-list {
  margin-left: 2rem;
  transition: all 0.2s ease-in;
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
header .nav .nav__list-container .nav__item--actions .nav__company.active .nav__company-list {
  max-height: 200px;
  margin-top: 3rem;
}
header .nav .nav__list-container .nav__item--actions .nav__company.active .arrow {
  transform: rotate(180deg);
}
header .nav .nav__list-container .nav__item--actions .feature__title,
header .nav .nav__list-container .nav__item--actions .company__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1440px) {
  header .nav .nav__list-container .nav__item--actions .feature__title span:nth-child(1),
header .nav .nav__list-container .nav__item--actions .company__title span:nth-child(1) {
    margin-right: 1rem;
  }
}
@media (min-width: 1440px) {
  header .nav .nav__list-container .nav__item--actions .feature__title,
header .nav .nav__list-container .nav__item--actions .company__title {
    display: flex;
    flex-grow: 1;
  }
}
header .nav .nav__list-container .nav__item--actions .feature__title .arrow,
header .nav .nav__list-container .nav__item--actions .company__title .arrow {
  display: inline-block;
  background-image: url(../../images/icon-arrow-up.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 15px;
}
header .nav .nav__list-container .nav__item--actions,
header .nav .nav__list-container .nav__item--auth {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 1440px) {
  header .nav .nav__list-container .nav__item--actions,
header .nav .nav__list-container .nav__item--auth {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  header .nav .nav__list-container .nav__company-list,
header .nav .nav__list-container .nav__feature-list {
    position: absolute;
    background-color: #fff;
  }
}
header .nav .nav__list-container .nav__item--auth {
  text-align: center;
}
header .nav .nav__list-container .nav__item--auth .nav__btn--register {
  border: 1px solid dimgray;
  border-radius: 2rem;
  padding: 2rem;
}

main .main--content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex-grow: 1;
}
main .main--content .main--desc {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
@media (min-width: 1440px) {
  main .main--content .main--desc {
    flex-grow: 1;
    align-items: baseline;
    gap: 12rem;
  }
}
@media (min-width: 1440px) {
  main .main--content .main--desc .main--title {
    font-size: 10rem;
    width: 66rem;
  }
}
main .main--content .main--desc button {
  width: 10rem;
  padding: 0.8rem;
  border-radius: 1rem;
  border: none;
  background: #000;
  color: #fafafa;
}
@media (min-width: 1440px) {
  main .main--content .main--desc button {
    font-size: 3rem;
    width: 25rem;
    padding: 1.5rem;
  }
}
main .main--content .main--desc .main--paragraph {
  color: dimgray;
}
@media (min-width: 1440px) {
  main .main--content .main--desc .main--paragraph {
    font-size: 3rem;
    line-height: 5rem;
    width: 66rem;
  }
}
main .main--content .main--logos {
  width: 100vw;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1440px) {
  main .main--content .main--logos {
    width: 100%;
  }
}
main .main--content .main--logos img {
  flex-grow: 1;
}
@media (min-width: 1440px) {
  main .main--content .main--logos img {
    flex-grow: 0;
    max-width: 15%;
    object-fit: contain;
  }
}

/*# sourceMappingURL=index.css.map */
